
<style>


  mat-card-subtitle, mat-card-content {
    margin: 1px;
  }

  mat-list-option{
padding: 10px;
    margin-top: 10px;
    width: 200px;
    box-sizing: content-box;
  }
  .list{
    width: 500px;
    margin: 10px auto;

  }
</style>

 <!-- Resources -->
  <h2>Users List</h2>
  <p>Angular</p>


    <p> Options selected: {{shoes.selectedOptions.selected.length}}</p>
<div class="list">
      <mat-selection-list #shoes>
      <mat-list-option  *ngFor="let user of usersList">
        <mat-card>
          <mat-card-subtitle>{{user.name}}</mat-card-subtitle>
          <mat-card-content>{{user.email}}</mat-card-content>
          <mat-card-content>{{user.phone}}</mat-card-content>
          </mat-card>
      </mat-list-option>
    </mat-selection-list>

</div>
